.sidePanel {
    height: 100vh;
    width: 851.66px;
    z-index: 3;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #212121;
    
}

.panelContainer{
    display: grid;
    grid-template-columns: 256px 336px;
    grid-template-rows: 151px 41px 96px 47px;
    width: 592.5px;
    height: 335px;
    margin: -10px 129.5px 45px 129.7px;
    font-family: marvinVis;
    font-size: 198px;
}

.text-panel {
    width: 592.5px;
    height: auto;
    margin: 44.5px 129.5px 60px 129.7px;
    font-family: 'IBM Plex Serif', serif;
    color: white;
    font-size: 21px;
    line-height: 30px;
}



@keyframes blur {
    0% {
        filter: blur(0px);
        transform: scale(1.0);
        background-color:rgba(0,0,0,0);
    }
    100% {
        transform: scale(1.05);
        filter: blur(10px);
        background-color:#3B3B3B;;
    }
}

@keyframes unblur {
    0% {
        filter: blur(10px);
        transform: scale(1.05);
        background-color:#3B3B3B;;
    }
    100% {
        transform: scale(1.00);
        background-color:rgba(0,0,0,0);
        filter: blur(0px);
    }
}

.blur {
    background-color:#3B3B3B;
    filter: blur(0px);
    animation: blur .4s forwards;
}

.unblur {
    animation: unblur .4s;
    transition-delay: .4s;
}

#about-panel {
    display: none; 
}

#portfolio-panel {
    display: none;
}

#library-panel {
    display: none;
}

#contact-panel {
    display: none;
}

/* rows are in main style sheet */

.col-1 { grid-column: 1;}
.col-2 { grid-column: 2;}

.word-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding-top: 20px;
    z-index: 3;
}

.word-2 {
    grid-column: 2;
    grid-row: 2 / span 2;
    padding-bottom: 10px;
    vertical-align: text-top;
    z-index: 4;
}

.move {
    position: relative;
    top: -34px;
    white-space: nowrap;
}

.about-move { position: relative; top: -34px; left: -3px; white-space: nowrap; }
.library-move { left: -145px; }
.contact-move { left: -230px; }
.contact-row-4 { width: 405px; }
.contact-panel { margin-left: 100.7px; }

.about-1 { color: #76E95A; }
.about-2 { color: #ACEB9D; }
.about-border { border-bottom: 40px solid #76E95A; }
.about-rewind { color: #ACEB9D; font-size: 42px; margin: 10px 0px 0px 10px; }
.port-1 { color: #FFDA00;}
.port-2 { color: #FEE96F;}
.port-border { border-bottom: 40px solid #FFDA00; }
.port-rewind { color: #FFDA00; font-size: 42px; margin: 10px 0px 0px 10px; }
.library-1 { color: #FF6600; }
.library-2 { color: #FFAE78; }
.library-border { border-bottom: 40px solid #FF6600; }
.library-rewind { color: #FFAE78; font-size: 42px; margin: 10px 0px 0px 10px; }
.contact-1 { color: #FF4848; }
.contact-2 { color: #FB9797; }
.contact-border { border-bottom: 40px solid #FF4848; }
.contact-rewind { color: #FB9797; font-size: 42px; margin: 10px 0px 0px 10px; }

.about-image { 
    float: right; 
    box-shadow: 5px 10px 1px #ACEB9D; 
    margin-left: 15px; 
    margin-bottom: 20px; 
}
.about-list {
    display: inline-block;
}
.about-icons {
    font-size: 50px;
}



@font-face {
    font-family: marvinVis;
    src: url(../fonts/marvinvisions-bold.woff);
  }