body {
    background-color: #343333;
    font-family: marvinVis;
    height: 100%;
    min-height: 100%;
}

.container { 
    display: grid;
    overflow: hidden;
    height: 100vh;
    grid-template-columns: 54px 21.25% 5.625% 6.25% 5.625% 5.792% 1.927%;
    grid-template-rows: 146px 146px 146px 146px 146px 146px;
    
}
.overflow {
    overflow: hidden;
}

.vl {
    height: 100vh;
    border-right: 2px solid #3B3B3B;
    position: absolute;
    left: 54px;
}

.bigText {
    font-size: 16.6vh;
}

.navBar {
    min-width: 2.864%;
    grid-column: 1;
    padding-left: 15%;
    padding-top: 3vh;
}

.navBar-1 { color: #B43CCB; }
.navBar-2 { color: #B67AFF; }
.navBar-3 { color: #00BDFF; }
.navBar-4 { color: #00FDFF; }
.navBar-5 { color: #00FFBD; }

.md-36 {
    font-size: 36px;
}

.row-1 {
    grid-row: 1;
}
.row-2 {
    grid-row: 2;
}
.row-3 {
    grid-row: 3;
}
.row-4 {
    grid-row: 4;
}
.row-5 {
    grid-row: 5;
}
.row-6 {
    grid-row: 6;
}


.navText {
    padding-top: 1.7vh;
    padding-left: 1vw;
    font-size: 7vh;
    letter-spacing: -.1vw;
    color: #3B3B3B;
    white-space: pre-wrap;
    overflow: hidden;
}

.navText-1 {
    grid-column: 2 / span 4;
}

.navText-2 {
    grid-column: 2 / span 2;
}

.navText-3 {
    grid-column: 2 / span 3;
}

.navText-4 {
    grid-column: 2 / span 4;
}

.navText-5 {
    grid-column: 2 / span 3;
}

.navText-6 {
    grid-column: 2 / span 1;
}

.name {
    color: #00FFBD; 
    grid-column: 6;
  }

.mName {
    color: #00FDFF; 
    grid-column: 4;
  }

.lName {
    color: #00BDFF; 
    grid-column: 5;
  }

.desc1 {
    color: #B67AFF; 
    grid-column: 6;
  }

.desc2 {
    color: #A559D6; 
    grid-column: 5;
  }

.desc3 {
    color:#B43CCB; 
    grid-column: 3;
  }
  
.pointer {
    cursor: pointer;
}

#pulse {
    color: #B43CCB;
    animation: pulse .5s linear 2.1s forwards;
}

@font-face {
    font-family: marvinVis;
    src: url(../fonts/marvinvisions-bold.woff);
  }

span {
    transition-duration: 2s;
}

.fadein {
    opacity: 0;
    animation: fadein 1s linear 1.5s forwards;
}

@keyframes pulse {
    from {
        color: #B43CCB; 
    }
    to {
        color: #3B3B3B;
    }
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #about-btn {
      direction: left;
  }

