@font-face {
    font-family: marvinVis;
    src: url(../fonts/marvinvisions-bold.woff)
} 

@keyframes colorChange {
    from {color: black;}
    to {color: #96C6E4;}
}

@keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
}

body {
    background-image: url(../images/crossword.png);
    color: #4B4B4B;
    font-family: serif;
}

header {
    font-family: marvinVis;
}

h1 {
    font-size: 1.05em;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    position: absolute;
    width: 50vw;
    margin: 30px 25% 30px 25%;
}

ul {
    list-style-type: none;
    display: block;
    font-weight: bolder;
    font-size: 16px;
    padding: 0;
}

#blogTitle {
    font-size: 185px;
    text-align: center;
    color: black;
    animation-name: colorChange; 
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

#blogSplash {
    text-align: center;
    font-size: 24px;
}

#copyright {
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
    color: rgba(152, 152, 152, .3);
}

.carousel-indicators{
    position: relative;
    bottom: -7vh;
}

.carousel-indicators li {
    background-color: black;
}

.contentLi {
    float: left;
    font-size: 16px;
    color: rgba(152, 152, 152, 0.54);
    margin: -4px 15px 5px 0px;
}
.separator {
    border-right: 2px solid rgba(152, 152, 152, 0.2);
    padding-right: 15px;
}
.postName {
    font-size: 40px;
}

.postContent {
    clear: both;
    overflow: hidden;
    padding-top: 4px;
    font-size: 20px;
    line-height: 34px;
}

.fadeIn {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}


